h1{													
	font-family: 'Quicksand', sans-serif;	/*label underneath age gap*/
	font-weight: 400;
	font-size: 1.8em;
	letter-spacing: 1.15px;
	color: #ffffff;
	float: left;
	display: block;
	position: relative;
	width: 900px;
	margin-left: 80px;
	margin-top:  40px;
	height: 16px;
}

h2{													
	font-family: 'Quicksand', sans-serif;	/*label underneath age gap*/
	font-weight: 400;
	font-size: 1.1em;
	letter-spacing: 1.05px;
	color: #717D99;
	clear: left;
	display: inline-block;
	position: relative;
	width: 600px;
	margin-left: 80px;
	margin-top:  5px;
}

.header{
	height: 20px;
	width: 1000px;
}

